.co{
    background-color: #0B3D91;
    text-align: center;
    color: white;

}
.rights{
    align-self: center;
    padding: 10px;
    
}
.devco{
    text-align: end;
}

@media (max-width :1024px) {
    .rights{
        padding-bottom: 10px;
    }
}
@media (max-width :768px) {
    .rights{
        padding-bottom: 80px;
    }
}
@media (max-width :480px) {
    .rights{
        padding-bottom: 80px;
    }
}