.featured-section {
  padding: 25px 15px;
  background: #f8f9fa;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.featured-header h3 {
  font-size: 18px;
  color: #0d3b66;
}

.featured-header button {
  padding: 6px 12px;
  background: #0d3b66;
  color: white;
  border-radius: 6px;
  font-size: 12px;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.featured-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  height: 100%;
}

.featured-card:hover {
  transform: translateY(-5px);
}

.featured-card img {
  width: 100%;
  height: 160px;
  object-fit: contain; 
  display: block;
  margin: 0 auto 15px auto; 
}

.featured-card h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.featured-card p {
  color: #0d3b66;
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 768px) {
  .featured-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}