.footer {
  margin-top: 40px;
  padding: 40px 20px 0px 20px;
  background-color: #0B3D91;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  gap: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p {
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.9;
}

.footer img {
  width: 380px;
  max-width: 100%;
  height: auto;
}

.whatsapp-btn,
.cta-call1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 10px 16px;
  border: 1px solid white;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s ease;
}
.cta-call1{
  height: 43px;
}


.whatsapp-btn svg {
  font-size: 20px;
}


.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-cont {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


@media (max-width: 1024px) {

  .footer {
    gap: 30px;
  }

  .footer img {
    width: 300px;
  }

}

@media (max-width: 768px) {

  .footer {
    flex-direction: row;
    gap: 20px;
    text-align: center;
    padding-bottom: 80px;
  }

  .footer img {
    width: 220px;
  }

  .logo-cont {
    flex-direction: column;
    gap: 10px;
  }
  
  .whatsapp-btn,
  .cta-call1 {
    width: 200px;
  }
  
  .main-cont {
    text-align: left;
    flex-direction: column;
  }

}


@media (max-width: 480px) {

  .footer {
    padding: 25px 15px;
    padding-bottom: 80px;
  }

  .footer img {
    width: 180px;
  }

  .footer p {
    font-size: 13px;
  }

  .main-cont {
    flex-direction: column;
  }

}