.slider {
  min-height: 250px;
  height: 40vh;            
  max-height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #F4F6F9;     
  text-align: center;
  padding: 20px;
}