.login-container{

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F4F6F9;
    font-family:Arial, Helvetica, sans-serif;

}

.login-card{

    background:white;
    padding:40px;
    border-radius:10px;
    width:350px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
    text-align:center;

}

.login-title{

    color:#0B3D91;
    margin-bottom:25px;

}

.login-form{

    display:flex;
    flex-direction:column;
    gap:15px;

}

.login-form input{

    padding:10px;
    border:1px solid #ddd;
    border-radius:6px;
    font-size:14px;

}

.login-form input:focus{

    outline:none;
    border-color:#0B3D91;

}

.login-btn{

    background:#0B3D91;
    color:white;
    border:none;
    padding:10px;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;

}

.login-btn:hover{

    background:#082d6b;

}