.product-card {
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-card p {
  color: #0d3b66;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  width: 100%;
  padding: 8px;
  background-color: #0d3b66;
  color: white;
  border-radius: 6px;
  font-size: 13px;
}