.product-details {
  padding: 30px 20px;
  max-width: 1200px;
  margin: auto;
  background: #F4F6F9;
}

.image-section {
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  background: white;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
  background: white;
  padding: 5px;
  transition: 0.3s ease;
}

.thumbnail:hover {
  opacity: 1;
}

.active-thumb {
  border: 2px solid #0B3D91;
  opacity: 1;
}

.details-info h2 {
  margin-bottom: 10px;
  color: #1C1C1C;
}

.details-info h3 {
  color: #0B3D91;
  margin-bottom: 15px;
}

.details-info p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #1C1C1C;
}

.details-info button {
  width: 100%;
  padding: 12px;
  background-color: #25D366;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.details-info button:hover {
  transform: scale(1.03);
}

.details-info a {
  display: block;
  text-align: center;
  padding: 12px;
  background-color: #FF6B00;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.details-info a:hover {
  background: #e55f00;
}

@media (min-width: 768px) {

  .product-details {
    display: flex;
    gap: 40px;
  }

  .image-section {
    width: 50%;
  }

  .details-info {
    width: 50%;
  }

}